body {
  background-color: #F0F0F0;
}
#app {
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
#video {
  background-color: #000000;
}
#canvas {
  display: none;    /* to show preview remove this */
}
li {
  display: inline;
  padding: 5px;
}
